<footer>
  <div class="footer-one">
    <div class="col-md-12 column">
      <div class="footer-logo">
        <img src="/images/site/logo-banner.png" alt="logo-top" height="auto" width="250">
      </div>
      <div class="row clearfix social">
        <div class="col-md-4 column">
          <p>
            <a href="https://github.com/nearform/nscale">
              <i class="fa fa-github fa-2x"></i>
              Github
            </a>
          </p>
        </div>
        <div class="col-md-4 column">
          <p>
            <a href="/docs/">
              <i class="fa fa-bookmark fa-2x"></i>
              Documentation
            </a>
          </p>
        </div>
        <div class="col-md-4 column">
          <p>
            <a href="https://twitter.com/deploynscale">
              <i class="fa fa-twitter fa-2x"></i>
              Twitter
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-two">
    © nscale 2015. Powered by <a href="http://metalsmith.io">MetalSmith</a>, hosted by <a href="http://surge.sh">Surge</a>. A <a href="http://nearform.com">nearFrom</a> project.
  </div>
</footer>
