<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head}}
  </head>

  <body>
    {{> navbar}}
    <div class="fullwidthtop">
      <div class="row clearfix">
        <div class="col-md-12 column">
          <div class="header-box">
            <img src="/images/site/logo-banner.png" class="logo-top" alt="nscale" height="auto" width="460">
          </div>
        </div>
      </div>
    </div>
    <div class="container">
        {{> mast}}
      <section class="splash-box">
        <h1 class="center">Try nscale now</h1>

        <div class="row clearfix hp">
          <div class="col-md-4">
            <a class="grey-box" href="https://github.com/nearform/nscale">
              <i class="fa fa-download fa-5x"></i>
              <h3>Download &amp; Install</h3>
              <p>Get nscale.</p>
            </a>
          </div>

          <div class="col-md-4">
            <a class="grey-box" href="/quick-start/">
              <i class="fa fa-bolt fa-5x"></i>
              <h3>Quick Start</h3>
              <p>Get started, quickly.</p>
            </a>
          </div>

          <div class="col-md-4">
            <a class="grey-box" href="/releases/">
              <i class="fa fa-refresh fa-5x"></i>
              <h3>Updates &amp; Releases</h3>
              <p>Keep up to date.</p>
            </a>
          </div>
        </div>
      </section>
    </div>
    {{> footer}}
  </body>
</html>
