<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head}}
  </head>

  <body>
    {{> navbar}}
    <div class="fullwidthtop">
      <div class="row clearfix">
        <div class="col-md-12 column">
          <div class="header-box">
            <img src="/images/logo-top.png" class="logo-top" alt="nscale" height="auto" width="460">
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      {{> header}}
      {{> splash-box}}
    </div>
    {{> footer}}
  </body>
</html>
